.footer {
    width: 100%; 
    height: 90px;
    position: fixed; 
    bottom: 2px; 
    left: 0;
    font-size: small;
    border-top: solid 1px;
    display: inline-block;
}

.footer h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}